@CHARSET "ISO-8859-1";

html {
	background-color: #2F2F2F;
}

body, #mainWrapper {
	height: 100%;
	background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0, #EDEDED),
		color-stop(0.08, #EAEAEA), color-stop(1, #2F2F2F),
		color-stop(1, #AAAAAA));
	background-image: -o-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA
		100%);
	background-image: -moz-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA
		100%);
	background-image: -webkit-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%,
		#AAAAAA 100%);
	background-image: -ms-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA
		100%);
	background-image: linear-gradient(to top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA
		100%);
}

body, #mainWrapper, .form-control {
	font-size: 12px !important;
	background-image: none !important;
}

#mainWrapper {
	height: 100vh;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#authHeaderWrapper {
	clear: both;
	width: 100%;
	height: 3%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.login-container {
	margin-top: 100px;
	background-color: floralwhite;
	width: 40%;
	left: 30%;
	position: absolute;
}

.login-card {
	width: 80%;
	margin: auto;
}

.login-form {
	padding: 10%;
}

.help-inline {
	color: red;
	font-weight: 700;
}

.col-md-3 {
	width: 15% !important;
}

.well {
	padding: 2px !important;
}

.btn-lg {
	padding: 2px 2px !important;
}

.table th {
	text-align: center;
	background: rgb(177, 178, 186) !important;
	color: white;
}

.remembermelabel {
	border: none !important;
	background-color: #EAEAEA !important;
}

.login-container {
	background-color: #EAEAEA !important;
	border-width: 2px !important;
}

input[type=checkbox] {
	border: none !important;
	box-shadow: none !important;
	width: 10% !important;
}

.signup {
	text-decoration: none;
	font-weight: 700;
	padding-left: 26;
}

.abcrentalerror {
	font-weight: 700;
	color: red;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 10%;
	border-style: solid;
	text-align: center;
}

.form-horizontal {
	width: 90% !important;
}
.footertext {
    color: #0b0307;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-actions {
	width: 100% !important;
	margin-left: 10px;
	padding-right: 22px;
	padding-top: 15px;
}
#mainWrapper {
    height: inherit;
}
.footerarea{
	text-align: center;
	margin: auto;
}
.table {
    table-layout: fixed;
    overflow: auto;
    margin-left: 10%;
    margin-right: 10%;
    width: initial;
}
.generic-container{
	margin-left: 20%;
}
.form-group {
    margin-bottom: 12px;
}
.input-sm{
	width: 60%;
}
.form-control{
	width: 60%;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 10px;
}
.col-lg-4{
	height: 140px;
	width: 200px;
}
.categoryMarker{
	margin-left: 15%;
	margin-top: 20px;
	margin-bottom: 100px;
}
.eachcategorymarker{
	padding-left: 50px;
	float: left;
	height: 350px;
	margin-bottom: 50px;
}
.frontp{
	font-weight: 700;
	color: #181918;
}
.frontinnerp{
	
}
.img-circle{
	clear: both;
}
html {
    background: whitesmoke;
}
.footerarea2{
	position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff9f6;
}
.customerssay{
.font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
position: fixed;
bottom: 50px;
}
customerssay cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
customerssay cite:before {
content: "\2014 \2009";
}

customerssay:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}
.rentmore{
	padding-left: 110px;
}
.makepayment{
	padding-left: 110px;
	font-weight: 750;
}
.reserve{
	font-weight: 800;
	font-style: italic;
	color: #03A9F4;
}
.pull-right {
    float: right!important;
    margin-right: 50px;
    font-weight: 900;
}
.logintext{
	padding-top: 18px;
}
#searchText{
	margin-left: 109px;
}
#div1{
	margin-left: 109px;
}
#remember-me{
	height: 20px;
	width: 20px;
}